body{
    background-color: #ebeff5;
}
#total-clients{
    background-color: #4cb4c7;
}
#total-employees{
    background-color: #7abecc;
}
#total-jobs{
    background-color: #7CD1C0;
}
span i{
    font-size: 60%;
}
