{% extends 'jobs/main.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <h5>Project</h5>
        <hr>
        <div class="card card-body">

            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Client</th>
                    <th>Country</th>
                    <th>Platform</th>
                    <th>Type</th>
                    <th>Assigned</th>
                    <th>Status</th>
                </tr>

                {% for i in projects %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.client}}</td>
                    <td>{{i.country}}</td>
                    <td>{{i.platform}}</td>
                    <td>{{i.type}}</td>
                    <td>
                        {{i.handled.all|join:", "}}
                    </td>
                    <td>{{i.status}}</td>
                </tr>
            {% endfor %}

            </table>

            {% if projects.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if projects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    {% endif %}
                    {% for i in projects.paginator.page_range %}
                        {% if projects.number == i %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if projects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}