<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-clients">
			  	<div class="card-header">
			  		<h5 class="card-title">Clients</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_clients}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-employees">
			  	<div class="card-header">
			  		<h5 class="card-title">Employees</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_employees}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-jobs">
			  	<div class="card-header">
			  		<h5 class="card-title">Projects</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_jobs}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>