<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-clients">
			  	<div class="card-header">
			  		<h5 class="card-title">Working Hours</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{month_working_hr}} <span><i>/month</i></span></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-employees">
			  	<div class="card-header">
			  		<h5 class="card-title">Completed Files</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{tot_filecount}} <span><i>/month</i></span></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-jobs">
			  	<div class="card-header">
			  		<h5 class="card-title">InProgress</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{tot_wip}} <span><i>/month</i></span></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>