{% extends 'jobs/main.html' %}

{% block content %}

{% include 'jobs/user_status.html' %}

<div class="row">
    <div class="col">
        <h5>Daily Tracker</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_tracker' myUser %}">Add to tracker</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Client</th>
                    <th>Job</th>
                    <th>Activity</th>
                    <th>Spent Time</th>
                    <th>File Count</th>
                    <th>Status</th>
                </tr>

                {% for track in myUserTracker %}
                    <tr>
                        <td></td>
                        <td>{{track.client}}</td>
                        <td>{{track.job}}</td>
                        <td>{{track.activity}}</td>
                        <td>{{track.spentTimeHr}}h:{{track.spentTimeMin}}m</td>
                        <td>{{track.fileCount}}</td>
                        <td>{{track.status}}</td>
                    </tr>
                {% endfor %}
            </table>

            {% if myUserTracker.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if myUserTracker.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ myUserTracker.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    {% endif %}
                    {% for i in myUserTracker.paginator.page_range %}
                        {% if myUserTracker.number == i %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if myUserTracker.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ myUserTracker.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content%}